*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    margin: 0;
    padding: 0;
}
/* /////////////////////////HeadingPage////////////////// */
.navbar{
    background: #190482;
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 999;
}
.navbar.scrolled{
    background: #362FD9;
    color: #fff;
}
.nav-link{
    color: #fff;
}
.navbar .dropdown-menu{
    background: #190482;
}
.navbar .dropdown-item{
    color: #fff;
}
.navbar .dropdown-item:hover{
    color: #000;
}
.LogoLetter{
    width: 50px;
    margin-left: 5rem;
}
/* /////////////////////LandingPage//////////////////////// */
.FirstSec{
    background: #190482;
    color: #fff;
    padding-top: 5rem;
    padding-left: 5rem;
}
.FirstSec .Headings{
    float: left;
    padding: 2rem;
    height: 2;
}
.FirstSec .Headings h1{
    font-size: 50px;
    padding: 1rem 0 1rem;
}
.FirstSec .Headings p{
    font-size: 18px;
    padding-bottom: 1rem;
}
.FirstSec img{
    width: 500px;
    margin-bottom: 2rem;
    margin-left: 6rem;
    margin-top: 7rem;
    box-shadow: 0 5px 5px 5px rgba(13, 110, 253, 0.6);
    animation: animate 3s ease-in-out infinite;
}
@keyframes animate{
    0%, 100% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
    50% {
        border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    }
}
/* //////////////////////////////// */
.beforeAnyone{
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 4rem 15rem 6rem;
}
.beforeAnyone img{
    width: 200px;
    margin-right: 2rem;
}
.beforeAnyone .First{
    margin-bottom: 5rem;
}
.beforeAnyone .First img{
    float: left;
}
.beforeAnyone .First .texts{
    margin: 2rem 5rem;
    text-align: left;
}
.beforeAnyone  h2{
    font-family: 'AR One Sans', sans-serif;
    font-size: 40px;
    font-weight: 700;
    text-align: left;
    margin: 0.5rem 7rem;
}
.beforeAnyone  p{
    font-size: 25px;
    text-align: left;
    margin: 0.5rem 7rem;
}

.beforeAnyone .Second img{
    float: right;
    margin-right: 9rem;
}
.beforeAnyone .Second .texts{
    margin: 2rem 5rem;
}
.beforeAnyone .buttons{
    text-align: left;
    margin: 1rem 10rem;
    width: 170.5px;
}
.beforeAnyone .buttons:hover{
    box-shadow: 0 0 5px #79AC78,
                0 0 25px #79AC78,0 0 25px #79AC78,
                0 0 50px #79AC78, 0 0 50px #79AC78;
}

/* ///////////////////////////// */
.SecondSec{
    margin-top: 5rem;
   margin-left: 15rem;
}
.SecondSec .d-flex{
    width: 250px;
    position: absolute;
    display: flex;
    margin-left: 5rem;
}
.SecondSec .dropdownItems{
    margin-left: 25rem;
}
.SecondSec .dropdown{
    display: inline;
   padding-left: 5rem;
}
.SecondSec .dropdown button{
    padding: 0.5rem 2rem;
}
/* ////////////////////////////////////// */
.ThirdSec{
    margin: 3rem 0;
    text-align: center;
}
.container3{
    display: inline-flex;
}
.container3 .card3{
    position: relative;
    width: 240px;
    height: 260px;
    box-shadow: inset 5px 5px 5px rgba(0,0,0,0.05)
                inset -5px -5px 5px rgba(255, 255, 255, 0.5)
                5px 5px 5px rgba(0,0,0,0.05)
                -5px -5px 5px rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    margin: 5px;
}
.container3 .card3 .box3:hover{
    background-color: #190482;
    color: #fff;
}
.container3 .card3 .box3{
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px ;
    bottom: 10px;
    background: #ebf5fc;
    box-shadow: 0 10px 20px rgba(0,0,0,0.5);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container3 .card3 .box3 .content3{
    padding: 10px;
    text-align: center;
    color: #190482;
}
.container3 .card3 .box3 .content3:hover{
    color: #fff;
}
.container3 .card3 .box3 .content3 h2{
    position: absolute;
    top: 0;
    
}
.content3 .icons{
    width: 100px;
    margin-bottom: 1rem;
}
.content3 .GotoButton:hover{
    box-shadow: 0 0 5px cyan,
            0 0 25px cyan,0 0 50px cyan,
            0 0 100px cyan, 0 0 200px cyan;
}
/* //////////////////////////////////// */
.fourthSec{
    text-align: center;
    /* margin-top: 2rem; */
}
.fourthSec .theThreeTexts{
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    padding-top: 2rem;
}
.fourthSec .theThreeTexts h1{
    padding: 0.5rem 5rem;
    font-family: 'AR One Sans', sans-serif;
    font-size: 40px;
    font-weight: bold;
    
}
.fourthSec .theThreeTexts h5{
    padding-bottom: 4rem;
    font-family: 'Playpen Sans', cursive;
    
}
.fourthSec  button{
   padding: 1rem 5rem;
   margin-bottom: 5rem;
   font-size: 22px;
}
/* ////////////////////////// */
.fifthSec{
    text-align: center;
    /* margin: 3rem 3rem; */
    background: #F5F7F8;
}
.fifthSec h4{
    font-size: 30px;
    font-weight: 400;
    font-family: 'Lora', serif;
    padding-bottom: 2rem;
}
.fifthSec p{
    font-size: 27px;
    font-weight: 200;
    padding: 2rem 12rem 0.5rem;
    font-family: 'Mooli', sans-serif;
    color: #777;
}
.fifthSec .nextArrows{
    background-color: #777;
    border-radius: 50%;
}
/* //////////////////Footer///////////////////////// */
.Footers{
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #190482;
    margin-bottom: -20px;
}
.Footers p{
    font-size: 22px;
    color: #fff;
    padding-bottom: 1rem;
}
.wrraper{
    display: inline-flex;
    list-style: none;
    margin-top: 1rem;
}
.wrraper .icon{
    position: relative;
    background: #BCA37F;
    border-radius: 50%;
    padding: 15px;
    margin: 10px 10px 0 10px;
    width: 50px;
    height: 50px;
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265);
}
.wrraper .tooltip{
    position: absolute;
    top: 0;
    font-size: 0.8rem;
    background: #fff;
    color: #fff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrraper .tooltip::before{
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #fff;
    bottom: -3px;
    left:50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrraper .icon:hover .tooltip{
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: none;
}
.wrraper .icon:hover span,
.wrraper .icon:hover .tooltip{
    text-shadow: 0px -1px 0px rgba(0,0,0,0.1);
}

.wrraper .linkedin:hover,
.wrraper .linkedin:hover .tooltip,
.wrraper .linkedin:hover .tooltip::before{
    background: #3b5998;
    color: #fff;
}
.wrraper .twitter:hover,
.wrraper .twitter:hover .tooltip,
.wrraper .twitter:hover .tooltip::before{
    background: #1da1f2;
    color: #fff;
}
.wrraper .github:hover,
.wrraper .github:hover .tooltip,
.wrraper .github:hover .tooltip::before{
    background: #192655;
    color: #fff;
}
.wrraper .telegram:hover,
.wrraper .telegram:hover .tooltip,
.wrraper .telegram:hover .tooltip::before{
    background: #362FD9;
    color: #fff;
}
/* /////////////////////////JobListing////////////////////////////// */
.joblisting-1stsec{
    margin: 3rem 10rem;
    text-align: center;
    background: #89CFF3;
    /* border-radius: 5%; */
    align-items: center;
    justify-content: center;
}
.joblisting-1stsec .texts{
    margin-bottom: 4rem;
    padding-top: 2rem;
    color: #fff;
}
.joblisting-1stsec .input-group{
    padding-bottom: 4rem;
    width: 500px;
    margin-left: 22rem;
}
.joblisting-1stsec .texts h1{
    font-family: 'Young Serif', serif;
    font-size: 45px;
}
.joblisting-1stsec .texts h6{
    font-family: 'Playpen Sans', cursive;
    font-size: 22px;
}
/* ////////////////////////////////// */
.joblisting-2ndsec{
    padding: 2rem 25rem 2rem 5rem;
    background-color: #F4DFB6;
    
}
.joblisting-2ndsec .fiveitemsListOne .items{
    background-color: #fff;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 400px;
    padding-top: 5px;
}
.joblisting-2ndsec .fiveitemsListTwo .items{
    background-color: #fff;
    margin-top: 1rem; 
    margin-bottom: 1rem;
    width: 420px;
    margin-left: 4rem;
    padding-top: 5px;
}
.joblisting-2ndsec img{
    width: 30px;
    margin-bottom: 1rem;
    margin-left: 1rem;
}
.joblisting-2ndsec h4{
    float: left;
    font-family: 'Mooli', sans-serif;
    margin-left: 1rem;
    
}
.joblisting-2ndsec .fiveitemsListOne{
    float: right;
    margin-top: 0;
    margin-bottom: 5rem;
    
}
.joblisting-2ndsec .fiveitemsListTwo{
    margin-top: 1.5rem;
    margin-bottom: 5rem;
}
/* ////////////////////////// */
.joblisting-3rdsec .content img{
    width: 150px;
    margin: top 2rem ;
    padding-top: 1rem;
    padding-left: 2rem;
}
.joblisting-3rdsec .container{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    padding: 40px 0;
}
.joblisting-3rdsec .container .card{
    position: relative;
    width: 420px;
    height: 500px;
    box-shadow: inset 5px 5px 5px rgba(0,0,0,0.05),
                inset -5px -5px 5px rgba(255, 255, 255, 0.5),
                5px 5px 5px rgba(0, 0, 0, 0.5),
                -5px -5px 5px rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    margin: 30px;
}
.joblisting-3rdsec .container .card .box{
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background: #ebf5fc;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.joblisting-3rdsec .container .card .box .content{
    padding: 20px;
    text-align: left;
}
.joblisting-3rdsec .container .card .box .content h3{
    position: absolute;
    top: 0;
    right: 100px;
    font-family: 'Young Serif', serif;
}
.joblisting-3rdsec .container .card .box .content span{
    font-size: 20px;
    margin-left: 2rem;
    font-family: 'Sacramento', cursive;
}
/* ///////////////aboutus///////////////// */
.aboutusDiv{
    text-align: center;
    margin: 2rem 5rem 5rem 5rem;
}
.aboutusDiv h1{
    color: #1da1f2;
    font-family: 'Young Serif', serif;
    font-size: 40px;
}
.aboutusDiv p{
    text-align: left;
    margin-top: 2rem;
    font-size: 24px;
    font-family: 'Mooli', sans-serif;
}

/* ///////////////////////////ContactPage///////////////////////////// */
.ContactSection{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #0f3959;
}
.ContactSection::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: #1da1f2;
}
.ContactSection .ContactContainer{
    position: relative;
    margin-top: -10px;
    min-width: 1100px;
    min-height: 550px;
    display: flex;
    z-index: 1000;
}
.ContactSection .ContactContainer .contactInfo{
    position: absolute;
    top: 30px;
    width: 350px;
    height: calc(85% - 250px);
    background: #0f3959;
    z-index: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 20px 20px rgba(0,0,0,0.2);
}
.ContactSection .ContactContainer .contactInfo h2{
    color: #fff;
    font-size: 24px;
    font-weight: 500;
}
.ContactSection .ContactContainer .contactInfo .info{
    position: relative;
    margin: 10px 0;
}
.ContactSection .ContactContainer .contactInfo .info li{
    position: relative;
    list-style: none;
    display: flex;
    margin: 20px 0;
    cursor: pointer;
    align-items: flex-start;
}
.ContactSection .ContactContainer .contactInfo .info li span:nth-child(1){
    width: 30px;
    min-width: 30px;
}
.ContactSection .ContactContainer .contactInfo .info li span:nth-child(1) img{
    max-width: 100%;
    opacity: 0.5;
}
.ContactSection .ContactContainer .contactInfo .info li span:nth-child(2){
    color: #fff;
    margin-left: 10px;
    font-weight: 300;
    opacity: 0.5;
}
.ContactSection .ContactContainer .contactInfo .info li:hover span:nth-child(1) img,
.ContactSection .ContactContainer .contactInfo .info li:hover span:nth-child(2){
    opacity: 1;
}
.ContactSection .ContactContainer .contactForm{
    position: relative;
    padding:50px 50px;
    background: #fff;
    margin-left: 150px;
    padding-left: 250px;
    width: calc(100% - 100px);
    height: 70%;
    box-shadow: 0 50px 50px rgba(0,0,0,0.5);
}
.ContactSection .ContactContainer .contactForm h2{
    color: #0f3959;
    font-size: 24px;
    font-weight: 500;
}
.ContactSection .ContactContainer .contactForm .formBox{
    position: relative;
    /* display: flex; */
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 30px;
}
.ContactSection .ContactContainer .contactForm .formBox .inputBox{
    position: relative;
    margin: 0 0 25px 0;
}
.ContactSection .ContactContainer .contactForm .formBox .inputBox .w50
{
    width: 47%;
}
.ContactSection .ContactContainer .contactForm .formBox .inputBox .w100{
    width: 100%;
}
.ContactSection .ContactContainer .contactForm .formBox .inputBox input,
.ContactSection .ContactContainer .contactForm .formBox .inputBox textarea{
    width: 100% !important;
    padding: 10px;
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
.ContactSection .ContactContainer .contactForm .formBox .inputBox textarea{
    min-height: 100px;
}
.ContactSection .ContactContainer .contactForm .formBox .inputBox span{
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
  margin-top: 2rem;
}
.ContactSection .ContactContainer .contactForm .formBox .inputBox input[type="submit"]{
    position: relative;
    cursor: pointer;
    background: #0f3959;
    border: none;
    max-width: 150px;
    padding: 12px;
    color: #fff;
}
/* /////////////////////LoginPage///////////////////// */

.login_container .log_col{
    color: #fff;
    font-family: 'Young Serif', serif;
}
.login_container .center p{
    margin-top: 20px;
    padding: auto;
    font-family: 'Sacramento', cursive;
    font-weight: bold;
}
.login_container .center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: #1da1f2;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.5);
  }
  .login_container .center h1{
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid #fff;
  }
  .login_container .center form{
    padding: 0 40px;
    box-sizing: border-box;
  }
  .login_container .center form .txt_field{
    position: relative;
    border-bottom: 2px solid #fff;
    margin: 30px 0;
   
  }
  .login_container .txt_field input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
    color: #fff;
  }
  .login_container .txt_field label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #fff;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
  }
  .login_container .txt_field span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #190482;
    transition: .5s;
  }
  .login_container .txt_field input:focus ~ label,
  .login_container .txt_field input:valid ~ label{
    top: -5px;
    color: #fff;
  }
  .login_container .txt_field input:focus ~ span::before,
  .login_container .txt_field input:valid ~ span::before{
    width: 100%;
  }
  .login_container .pass{
    margin: -5px 0 20px 5px;
    color: #fff;
    cursor: pointer;
  }
  .login_container .pass:hover{
    text-decoration: underline;
  }
  .login_container .center input[type="submit"]{
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #06578d;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
  }
  .login_container .center input[type="submit"]:hover{
    border-color: #2691d9;
    transition: .5s;
  }
  .login_container .signup_link{
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: #fff;
  }
  .login_container .signup_link a{
    color: #fff;
    text-decoration: none;
  }
  .login_container .signup_link a:hover{
    text-decoration: underline;
  }
  .login_container  .footer{
    text-align: center;
  }
  .login_container .loginButtons{
    display: flex;
    gap: 30px;
    margin: 30px auto;
  }
  .login_container .loginButtons .submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 50px;
    color: #fff;
    background: #06578d;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
  }
  .login_container .loginButtons .gray{
    background: #EAEAEA;
    color: #F5F7F8;
    visibility: hidden;
  }
  .login_container .theWhole{
    margin-top: 0;
    margin-bottom: 2rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 59%;
  }
  
 

  /* //////////////////////////////JobDetails/////////////////////// */
  .DetailsSecOne{
    margin: 2rem 5rem;
    box-sizing: border-box;
    box-shadow: 15px 10px 10px rgb(53,56,79);
    border-radius: 2px solid #000;
  }
  .DetailsSecOne .DetailsDivTwo{
      margin-top: 3rem; 
      width: 75%;
      margin-right: 2rem;
      text-align: start;
      display: block;
      text-decoration: none;
      color: #000;
      border-radius: 2px solid #000;
      box-sizing: border-box;
      box-shadow: 10px 10px 15px rgb(53,56,79);
      padding-left: 0.5rem;
      transition: 0.2s;
  }
  .DetailsSecOne .DetailsDivTwo:hover{
    border-left: 6px solid #190482;
  }
  .DetailsSecOne .allLists img{
    width: 200px;
    height: 300px;
    padding: 2rem 0;
    margin-left: 6rem;
  }
  .DetailsSecOne .allLists .DetailsDivTwo{
    float: right;
    margin-top: 1rem;
    text-align: left;
    
  }
  .DetailsSecOne .DetailsDivOne h2{
    color: #190482;
    font-family: 'Young Serif', serif;
    font-weight: 700;
  }
  .DetailsSecOne p{
    font-size: 16px;
  }
  .DetailsSecOne .DetailsDivOne:hover{
    background-color: #DAF5FF;
  }
  .DetailsSecOne .DetailsDivOne ul{
    margin-top: 1rem;
  }
  .DetailsSecOne .DetailsDivOne ul li{
    display: inline;
    padding-inline: 0.5rem;
  }
  .DetailsDivTwo h3{
    color: #333;
    font-family: 'Nunito', sans-serif;
  }
  /* ///////////////////////////JobDescriptions///////////// */
  .DescriptionsTop{
    margin: 2rem 5rem;
    border-radius: 1px solid #000;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.5);
    padding: 1rem 1rem;
    box-sizing: border-box;
  }
  .DescriptionsTop .DescriptionImages{
    width: 300px;
    float: left;
    padding-right: 2rem; 
  }
  .DescriptionsTop h6{
    margin: 1rem 0;
  }
  .DescriptionsTop input{
    width: 300px;
    height: 40px;
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding-right: 1rem;
    font-size: 22px;
    color: #3b5998;
  }
  .DescriptionsTop input:hover{
    box-shadow: #1da1f2;
  }
  .DescriptionsTop button{
    margin-left: 1rem;
  }
  .DescriptionsTop .FirstLists{
    padding-left: 20rem;
  }
  /* /////////////////////EmployersPage/////////////// */
  /* .EmployersPage{
    margin: 2rem 5rem;
    padding: 0;
    /* text-align: center;
    justify-content: center;
    align-items: center; */
   
  .EmployersPage .firstDiv img{
    width: 550px;
    height: 300px;
  }
  .EmployersPage img{
    width: 400px;
    height: 550px;
    margin-bottom: 3rem;
  }
  .EmployersPage .firstDiv{
    margin: 3rem 5rem;
  }
  .EmployersPage .firstDiv .Texts{
    float: left;
    text-align: left;
    margin-left: 10rem;
    margin-right: 5rem;
  }
  .EmployersPage .firstDiv .Texts h1{
    font-size: 50px;
    font-family: 'Young Serif', serif;
  }
  .EmployersPage .onlyline{
    margin: 3rem 20rem;
    text-align: center;
    font-size: 36px;
    padding-top: 5rem;
    font-family: 'Young Serif', serif;
    width: 60%;
  }
  .EmployersPage .secondDiv{
    padding: 5rem 5rem;
  }
  .EmployersPage .SameBack{
    background: #E0F4FF;
  }
  .EmployersPage .secondDiv .Texts{
    float: left;
    text-align: left;
    margin-left: 10rem;
    margin-right: 5rem;
    margin-top: 7rem;
    width: 30%;
  }
  .EmployersPage .thirdDiv .Texts{
    float: left;
    text-align: left;
    margin-left: 15rem;
    margin-right: 5rem;
    margin-top: 7rem;
    width: 30%;
  }
  .EmployersPage .fourthDiv{
    background: #E0F4FF;
    padding: 0 10rem;
  }

  .EmployersPage .fourthDiv .Texts{
    float: right;
    text-align: left;
    margin-right: 10rem;
    margin-top: 5rem;
    width: 45%;
  }
  .EmployersPage .fourthDiv  img{
    transform: translateY(-40px);
    z-index: -1;
    margin-left: 5rem;
  }
  /* ////////////////////UploadPage///////////////////////// */
  .wholeUplaod{
    background: #1da1f2;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  .wholeUplaod .UploadText{
    position: relative;
    width: 480px;
    height: 620px;
    background: #06578d;
    border-radius: 8px;
    overflow: hidden;
  }
  .wholeUplaod .UploadText::before{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent,
    transparent, #45f3ff, #45f3ff, #45f3ff);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate2 6s linear infinite;
  }
  .wholeUplaod .UploadText::after{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent,
    transparent, #D2DE32, #D2DE32, #D2DE32);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate2 6s linear infinite;
    animation-delay: -3s;
  }
  @keyframes animate2 {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
    
  }
  .wholeUplaod .UploadText form{
    position: absolute;
    inset: 4px;
    background: #0f3959;
    padding: 50px 40px;
    border-radius: 8px;
    z-index: 2;
    display: flex;
    flex-direction: column;
  }
  .wholeUplaod .UploadText form h2{
    color: #fff;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1em;
  }
  .wholeUplaod .UploadText form .inputBox{
    position: relative;
    width: 300px;
    margin-top: 35px;
  }
  .wholeUplaod .UploadText form .inputBox input{
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    outline: none;
    /* border: none; */
    box-shadow: none;
    color: #fff;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    z-index: 10;
  }
  .wholeUplaod .UploadText form .inputBox span{
    position: absolute;
    left: 0;
    padding: 20px 10px 10px;
    pointer-events: none;
    color: #8f8f8f;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
  }
  .wholeUplaod .UploadText form .inputBox input:valid ~ span,
  .wholeUplaod .UploadText form .inputBox input:focus ~ span{
    color: #fff;
    transform: translateY(-45px);
  }
  .wholeUplaod .UploadText form input[type="submit"]{
    border: none;
    outline: none;
    padding: 9px 25px;
    background: #1da1f2;
    cursor: pointer;
    font-size: 1em;
    border-radius: 4px;
    font-weight: 600;
    width: 100px;
    margin-top: 10px;
  }
  .wholeUplaod .UploadText form input[type="file"]{
    border: none;
    outline: none;
    padding: 9px 25px;
    background: #1da1f2;
    cursor: pointer;
    font-size: 1em;
    border-radius: 4px;
    font-weight: 600;
    width: 270px;
    margin-top: 10px;
    color: #190482;
  }
  /* /////////////////////employersPage///////////////////// */
  .employersPage .heading {
    margin: 0;
    padding: 0 0 3rem 0;
    display: flex;
    background: #6499E9;

  }
  .employersPage .heading .headingimg img{
    width: 30rem;
    height: 20rem;
    float: left;
    border-top-right-radius: 30%;
    border-bottom-right-radius: 30%;
  }
  .employersPage .heading .headingTexts{
    margin: 5rem 5rem;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
  }
  .employersPage .heading .headingTexts h1{
    font-size: 60px;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-weight: 900;
  }
  .employersPage .heading .headingTexts h1 span{
    color: #190482;
  }
  .employersPage .heading .headingTexts h5{
    margin: 0.5rem 0 0 0 ;
  }
  .employersPage .heading .headingTexts img{
    margin: 2rem 0;
    width: 5rem;
    height: 5rem;
  }
  .employersPage .jobPost{
    margin: 2rem 5rem;
    /* border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); */
  }
  .employersPage .jobPost h2{
    font-family: 'Mooli', sans-serif;
    color: #190482;
    font-weight: 500;
  }
  .employersPage .jobPost form{
    width: 50%;
    margin: 2rem 1rem;
    padding: 20px;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .employersPage .jobPost form input[type='text']{
    width: 50%;
    padding: 10px;
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  }
  .employersPage .jobPost form textarea{
    width: 100%;
    padding: 10px;
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  }
  .employersPage .jobPost form span {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    margin-top: 2rem;
  }
  .employersPage .jobPost form .dropdownLists{
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 5rem;
  }
  .employersPage .jobPost form button{
    width: 150%;
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  .employersPage .jobPost form button:hover {
    background-color: #258cd1;
  }
  .employersPage .jobPost .postJob {
    width: 20%;
    margin-left: 2rem;
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 22px;
    font-weight: 500;
  }
  